// @import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

// @font-face {
//     font-family: 'LiquidCrystal';
//         src: url('LiquidCrystal-Bold.otf') format('opentype');
//     font-weight: normal;
//     font-style: italic;
// }

@font-face {
    font-family: 'calibri';
    src: url('calibril.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'calibri';
    src: url('calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibri';
    src: url('calibrib.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'calibri';
    src: url('calibrii.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'calibri';
    src: url('calibriz.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'calibri';
    src: url('calibrli.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}

$grayBarHeight: 40px;
$israelBlue: #121FF9;
$boxGray:#e6e6e6;
$calcBlue:#123eee;
$calcPillHeight: 52px;
$alertRed: #f31616;
$calcGray: #2b2b2b;
$calcPillGray: #505045;

body {
    direction: rtl;
    font-family: "calibri",
               "Helvetica Neue",
               Helvetica,
               Arial,
               sans-serif;
}

header {
    overflow: hidden;
    
    .grayBar {
        height: $grayBarHeight;
        background-color: #dcdcdc;
        color: black;
        text-align: center;
        line-height: $grayBarHeight;
        font-size: 9pt;
        span {
            font-weight: lighter;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    .titleSection { 
        // #3178d4 top
        // #112c4d bottom
        position: relative;
        overflow: hidden;
        text-align: center;
        background: rgb(49,120,212);
        background: linear-gradient(180deg, rgba(49,120,212,1) 0%, rgba(17,44,77,1) 100%); 
        color: white;
        border-radius: 0 0 19px 19px;
        box-shadow: 0 8px 8px rgba(0,0,0,0.25);
        padding: 0 0 1rem 0;
        img.bankImage {
            color: white;
            position: absolute;
            left: 2rem;
            top: 15%;
            height: 70%;
        }
        img.bankImage.bankImage-right {
            left: inherit;
            right: 2rem;
        }
        h1 {
            padding: 0;
            margin-top: 1.5rem;
            font-size: 3.5rem;
            line-height: 2.5rem;
            font-weight: bold;
            text-align: center;
        }
        h2 {
            padding: 0;
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: normal;
            text-align: center;
        }

        hr {
            border: none;
            border-top: 2px dashed #FFF;
        }

        .remark {
            font-weight: lighter;
            font-size: 10pt;
        }
    }
    
}

.calcResult {
    margin-top: .2em;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: $alertRed;
    padding: .7em 0;
    border: none;
    border-bottom: 1px solid $alertRed;
    background-color: #FFF;
}

.inlineCalcResult {
    font-family: ui-monospace, 
                Menlo, Monaco, 
                "Cascadia Mono", "Segoe UI Mono", 
                "Roboto Mono", 
                "Oxygen Mono", 
                "Ubuntu Monospace", 
                "Source Code Pro",
                "Fira Mono", 
                "Droid Sans Mono", 
                "Courier New", monospace;
    font-size: 0.9em;
    padding: 0 .2em;
    color: #CCF;
}

ul.explanation li.qed {
    font-weight: bold;
    // border: 2px solid rgb(240, 198, 163);
    padding: .2em;
    // border-radius: .2em;
}

input.form-control {
    text-align: right;
}

footer {
    font-size: 0.7em;
    border-top: 2px solid $boxGray;
    margin: 0;
    padding: 1em;
    color: white;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        li{
            display: inline-block;
            a {
                display: block;
                text-decoration: none;
                padding: .5em;
                margin: .1em .5em;
                color:rgb(220, 220, 255);
                &:hover {
                    background-color: #000;
                    color:rgb(220, 255, 220);
                }
                &:active {
                    background-color: #080;
                    color:#FF0;
                }
            }
        }
    }
}

.costStatement {
    color: #f31616;
    border: 1px dashed #f31616;
    border-radius: 30px;
    padding: 30px 20px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .title {
            strong {
                display: block;
                font-weight: bold;
                font-size: 1.2rem;
            }
            font-size: 0.9rem;
            line-height: 0.9rem;
            font-weight: lighter;
            // flex-grow:0;
            max-width: 220px;
        }
        .sum {
            font-weight: bold;
            font-size:2rem;
        }
        sup {
            font-size: 1rem;
            font-weight: bold;
            top: -0.5rem;
        }
        sub {
            font-size: 1.5rem;
            font-weight: bold;
            bottom: -0.2rem;
        }
        svg {
            padding-left: .4rem;
        }
    }
    .bottom {
        text-align: center;
    }
}
.upwards {
    transform: rotate(180deg);
}
.separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $alertRed;
    font-style: italic;
    font-size: 2rem;
    hr {
        width: 10%;
        border: none;
        border-top: 2px dashed $alertRed;
    }
    p {
        margin:0 1rem;
        text-align: center;
        line-height: 1em;
    }
}

.sliderGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    align-items: center;
}

.grayBox {
    background-color: $boxGray;
    border-radius: 26px;
    padding: 26px;
    text-align: center;
    position: relative;
    margin: 0 1em .8em 1em;
    
    h3 {
        font-weight: bold;
    }

    p {
        text-align: center;
        margin: 1em 0;
    }

    label {
        margin: auto;
        border-radius: 2em;
        padding: 1em 2em;
        font-weight: bold;
        background-color: white;
        text-align: center;
    }
}

.calcPill {
    position: relative;
    top: $calcPillHeight+5;
    z-index: 1000;
    margin: auto;
    // border: 2px solid $calcPillGray;
    color: white;
    background-color: $calcPillGray;
    height: $calcPillHeight;
    width: 152px;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    line-height: $calcPillHeight;
    border-radius: calc($calcPillHeight/2);
    text-align: center;
    img {
        height: 20px;
        width: 20px;
    }
    hr {
        border: none;
        border-right: 1px solid #FFFA;
        height: 50%;
    }
}

$explanationEdge:30px;

a.explanation {
    position: absolute;
    left: .5em;
    bottom: .5em;
    width: $explanationEdge;
    height: $explanationEdge;
    margin: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: $calcBlue;
    background-color: #FFF;
    border: 3px solid $calcBlue;
    line-height: $explanationEdge;
    border-radius: calc($explanationEdge/2);
}
a.explanation-inline {
    width: $explanationEdge;
    height: $explanationEdge;
    margin: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: $calcBlue !important;
    font-size: 12pt;
    background-color: #FFF;
    border: 3px solid $calcBlue;
    line-height: $explanationEdge;
    border-radius: calc($explanationEdge/2);
}

.explanationPart {
    padding-top: 1em;
    background-color: $calcGray;
    color: #FFF;
    font-size: 12pt;
    a {
        color:rgb(220, 220, 255);
    }
}

$bankSize: 60px;
$bankOffset: calc(-1 * $bankSize / 8*3);
@media (max-width: 992px) { 
    header {
        .titleSection {   
            h1 {
                padding: 0;
                margin: 1.5rem 2rem 0 2rem;
                font-size: 2.5rem;
                line-height: 2rem;
                font-weight: bold;
                text-align: center;
            }
            h2 {
                padding: 10px 5px 0 5px;
                font-size: 1rem;
                line-height: 1rem;
            }
    
            hr {
                border: none;
                border-top: 2px dashed #FFF;
            } 
            img.bankImage {
                top: 20%;
                height: $bankSize;
                left: $bankOffset;
            }
            img.bankImage.bankImage-right {
                left: inherit;
                right: $bankOffset;
            }
        }
    }

    .grayBox{
        margin: 0 0 .8em 0;
    }

    .costStatement {
        .bottom {
            strong {
                display: block;
            }
        }
    }
}

select.form-select {
    background-position-x: left 0.75rem;
}

.backToRestart {
    text-align: center;
    a {
        text-decoration: none;
        background-color: #EEF;
        display: block;
        
        &:hover {
            background-color: #FFE;
            color: $calcPillGray;
        }
        &:active {
            background-color: #FFE;
            color: $alertRed;
        }
    }
}